

{% extends 'global.html' %}
<div style="margin-top: 50px;">

{% block general %}
{% load static %}

<link rel="stylesheet" href="{% static 'accounts/client.css' %}">




<div class="tout" >
    <h1>Clients</h1>
        <div class="outer-wrapper">
        <div class="table-wrapper">

        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Telephone</th>
                    <th>Interventions</th>
                    <th>Date</th>



                </tr>
            </thead>
            {% for client in clients %}

            <tbody>
                <tr>
                    <td>{{ client.Nom|upper }}</td>
                    <td><a href="{% url 'profil' profil_id=client.Telephone %}">{{ client.Telephone }}</a></td>
                    <td>{{ client.Interventions }}</td>
                    <td>{{ client.Date_Created }}</td>


                </tr>
            {% endfor %}
           </tbody>
        </table>
        </div>
    </div>


        
{% endblock %}

</div>