


{% extends 'global.html' %}
{% load static %}


{% block general %}



<br>
<link rel="stylesheet" href="{% static 'accounts/factur.css' %}">
<div class="primary" style="text-align: center; margin-top: 150px;">
</div>
  
      <style>

      
        .facture{
          padding: auto;
          max-width: 600px;
          margin: auto;
          background-color: darkgreen;
        }
       .facture p label{
        margin-left: 20px;
        
       }
       .facture p label strong{
        float: right;
        margin-right: 20px;
       }

       .facture button{
 
        margin-top: 15px;
        width: 100px;
        height: 30px;
        border-radius: 3pc;



    


      }
       

      </style>



  <div class="facture" style=" margin-top: 50px; " >

   <center><button  onclick="window.location.href='{% url 'facturePdf' facture.id %}' " > PDF</button></center> 



      <p>
        <label >Facture :<strong>n°{{ facture.id }}
        </strong> </label>
      </p>
      <br>
      <p>
        <label>Date<strong>{{ facture.Date }}
          </strong>
        </label >
      </p>
      <br>
      <p>
        <label >Client<strong>{{ facture.Nom }}
        </strong>
      </label>
      </p>
      <br>

      <p>
        <label >Telephone<strong>{{ facture.Telephone }}
        </strong>
      </label>
      </p>
      <br>

      <p>
        <label >Modele<strong>{{ facture.Modele_couture }}
        </strong>
      </label>
      </p>
      <br>
      <p>
        <label >Prix<strong>{{ facture.Prix_Couture }}</strong></label>
      </p>
      <br>
      <p>
        <label >Avance<strong>{{ facture.Avance }}</strong></label>

      </p>
      <br>

      <p>
        <label >Reste<strong>{{ facture.Solde }}</strong></label>
      </p>
  </div>
  


{% endblock %}

