







  
      <style>

      
        /*.facture{
          padding: auto;
          max-width: 700px;
          margin: auto;
        }
       .facture p label{
        margin-left: 120px;
        
       }
       .facture p label strong{
        float: inline-end;
        margin-right: 120px;
       }

       .facture button{
 
        margin-top: 15px;
        width: 100px;
        height: 30px;
        border-radius: 3pc;

        align-content: center;


}*/
       

      </style>



  <div class="facture" style=" margin-top: 50px; " >




      <p>
        <label >Facture :<strong>n°{{ facture.id }}
        </strong> </label>
      </p>

      <p>
        <label>Date<strong>{{ facture.Date }}
          </strong>
        </label >
      </p>

      <p>
        <label >Client<strong>{{ facture.Nom }}
        </strong>
      </label>
      </p>

      <p>
        <label >Telephone<strong>{{ facture.Telephone }}
        </strong>
      </label>
      </p>

      <p>
        <label >Modele<strong>{{ facture.Modele_couture }}
        </strong>
      </label>
      </p>


      <p>
        <label >Prix<strong>{{ facture.Prix_Couture }}</strong></label>
      </p>

      <p>
        <label >Avance<strong>{{ facture.Avance }}</strong></label>

      </p>

      <p>
        <label >Reste<strong >{{ facture.Solde }}</strong></label>
      </p>
  </div>
  



