


                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
{% extends 'global.html' %}

<div style="margin-top: 10px;">
{% block general %}


{% load static %}


<link rel="stylesheet" href="{% static 'accounts/commande.css' %}">

{% if user.is_authenticated %}
{% endif %}


{% if user.is_superuser %}

  <div class="tout" >
    
    <h1>Liste des commandes</h1>

        <div class="outer-wrapper">



        <button onclick="window.location.href='{% url 'commande' %}' ">Ajouter</button>
        <!--<p><a class="commande" href="{% url 'commande' %}"> Ajouter une commande</a></p>-->

        <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th> Date </th>
                    <th> Client</th>
                    <th> Telephone</th>
                    <th> Modele</th>
                    <th> Pagnes</th>
                   


                    <th> Prix</th>
                    <th> Avance</th>
                    <th> Rendez-Vous</th>
                    <th> Detail</th>

                    <th> Facture </th>
                    <th colspan="2"> Actions</th>
                    
                </tr>
            </thead>
            {% for commande in commandes%}
            
            <tbody>
                  <tr>
                      <td> {{ commande.Date_Depot_Model  }}</td>
                      <td> <a href="{% url 'client' %}">{{ commande.Nom|upper }} </a></td>
                      <td> {{ commande.Telephone  }}</td>
                      <td> {{ commande.Modele_Couture  }}</td>
                      <td> {{ commande.Nombre_Pagnes  }}</td>
                    

                      <td> {{ commande.Prix_Couture  }}</td>
                      <td> {{ commande.Avance  }}</td>
                      <td> {{ commande.Date_Retrait_Model  }}</td>


                      <td> <a href="{% url 'voirPlus' %}"> Detail</a></td>
                      <td> <a href="{% url 'facture' commande.id %}"> Facture</a></td>


                      <td> <a href="{% url 'modifier_commande' commande.id %}"> Modifier</a></td>
                      <td> <a href="{% url 'supprimer_commande' commande.id %}"> Supprimer</a></td>
                    
                  </tr>
        
    
      {% endfor %}
            </tbody>
      </table>
  </div>
</div>

{% else %}

  <!--<p><a href="{% url 'deconnexion' %}">Se deconnecter </a></p>


    <h1>Liste des commandes</h1>
    <p><a href="{% url 'client' %}"> Voir les clients</a></p>
    <p><a href="{% url 'historique' %}"> Historique</a></p>
    <p><a href="{% url 'rendezVous' %}"> Rendez-Vous</a></p>-->




  <div  class="tout">
    <h1>Liste des commandes</h1>

        <div class="outer-wrapper">
        <div class="table-wrapper">
        <table>
            <caption >Liste des commandes</caption>
            <thead>
                <tr>
                    <th> Date </th>
                    <th> Client</th>
                    <th> Telephone</th>
                    <th> Modele</th>
                    <th> Pagnes</th>
                    <th> Detail</th>

                    

                    <th> Prix</th>
                    <th> Avance</th>
                    <th> Rendez-Vous</th>
                    <th> Facture </th>
                    
                </tr>
            </thead>
            {% for commande in commandes %}


            <tbody>
                <tr>
                    <td> {{ commande.Date_Depot_Model  }}</td>
                    <td> <a href="{% url 'client' %}">{{ commande.Nom|upper }} </a></td>
                    <td> {{ commande.Telephone  }}</td>
                    <td> {{ commande.Modele_Couture  }}</td>
                    <td> {{ commande.Nombre_Pagnes  }}</td>

                    <td> <a href="{% url 'voirPlus'  %}"> Detail</a></td>

                   

                    <td> {{ commande.Prix_Couture  }}</td>
                    <td> {{ commande.Avance  }}</td>
                    <td> {{ commande.Date_Retrait_Model  }}</td>
                    <td> <a href="{% url 'facture' commande.id %}"> Facture</a></td>

                    
                </tr>


          {% endfor %}
          
            </tbody>
        </table>
      </div>
  </div>
{% endif %}




{% endblock %}
</div>

