{% load static %}

<link rel="stylesheet" href="{% static 'global.css' %}">

<nav class="navbar">
    <div class="logo">Fiarma Couture</div>
    <div class="nav-links">
      <ul>
        <li class="active"><a  href="{% url 'liste_commande' %}">Liste des commandes </a></li>
        <li><a  href="{% url 'client' %}">Client</a></li>

        <li><a href="{% url 'historique' %}">Historique</a></li>
        <li><a  href="{% url 'rendezVous' %}">Rendez-Vous</a></li>
        <li><a  href="{% url 'deconnexion' %}">Deconnexion</a></li>
        <li ><p class="action_btn" >{{ user }}</p></li> 

      </ul>
      <!--<a class="action_btn" >{{ user }}</a>   -->


    </div>
    <i class="fas fa-bars" ></i>
</nav>


<script>
    const menuCouture= document.querySelector("i")
    const navLinks = document.querySelector(".nav-links")

    menuCouture.addEventListener('click',()=>{
    navLinks.classList.toggle('mobile-menu')
    })

</script>
