


{% extends 'global.html' %}

{% block general %}
{% load static %}

<link rel="stylesheet" href="{% static 'accounts/Inscription.css' %}">

<h1>Connexion</h1>

<!-- <h2>{{ message }}</h2> -->

<center class="Connexion">
    {% for message in messages %}
        {{  message }}
    {% endfor %}

    <form action="  " method="post" class="form">
        {% csrf_token %} 
        <h2>Confirmation du mot de passe</h2>
        <!--
            - les valeurs de "name" dans input  doivent correspondre aux memes noms que ceux de notre modele : Couturier
            - form  a deux  attribut s:
                - action : execute un mout de code 
                - method : 
                        - GET : pour recevoir les donnees . On peut utiliser le GET pour garder des infos dans la db
                                <label for="username"  > Nom de votre entreprise <input type="text" name="username" id="username" required placeholder="Le nom de votre entreprise"> </label> <br> <br><br>
        {{ form }}

        -->
       


        <!--<label for="id_new_password1"  >Nouveau Mot de passe </label>

        <input type="password" name="new_password1" id="password" required placeholder="votre mot de passe">
        <br> <br><br>
        


        <label for="id_new_password2" > Confirmation du Mot de passe </label>
        <br>
        <input type="password" name="new_password2" id="password1" required placeholder="Saissiser le meme mot de passe"> 
        <br> <br><br>-->

        <label for="id_new_password1">Nouveau mot de passe&nbsp;:</label>
        <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
        <br>

        <label for="id_new_password2">Confirmation du nouveau mot de passe&nbsp;:</label>
        <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
        <br>

        <input class="btn btn-info" type="submit" value="Confirmer le mot de passe" id="sub" name="Update Passord"> 




    </form>

</center>

{% endblock %}

