



{% extends 'global.html' %}

{% block general %}
{% load static %}

<link rel="stylesheet" href="{% static 'accounts/Inscription.css' %}">

<h1>Connexion</h1>

<!-- <h2>{{ message }}</h2> -->

<center class="Connexion">
    {% for message in messages %}
        {{  message }}
    {% endfor %}

    <div class="border bg-white p-3">
        <h3>Envoi du message</h3>
        <div class="alert alert-info">
            <h4>Un mail vous a ete envoye a votre addresse. Veuillez suivre les instructions afin de renitialiser votre mot de passe</h4>
        </div>
    </div>

</center>

{% endblock %}

