



{% extends 'global.html' %}

{% block general %}
{% load static %}

<link rel="stylesheet" href="{% static 'accounts/Inscription.css' %}">

<h1>Connexion</h1>

<!-- <h2>{{ message }}</h2> -->

<center class="Connexion">
    {% for message in messages %}
        {{  message }}
    {% endfor %}

    <div class="border bg-white p-3">
        <h3>Fin du processus</h3>
        <div class="alert alert-info">
            <h4>Vous pouvez maintenant vous connecter avec votre mot de passe</h4>
        </div>
        <p><a href="{% url 'connexion' %}"> Se connecter</a></p>
    </div>

</center>

{% endblock %}

